include /components/material-icon-cell/material-icon-cell.pug

mixin meanOvalButtons( item )
  - let buttonCount = 0;

  each button in item.buttons
    - buttonCount += 1

    - const buttonId = item.groupname + '-' + buttonCount
    - const buttonText = button.text || 'click me'
    - const buttonType = button.type || 'button'
    - const buttonWidth = `width:${ button.widthpx || '100%' }`
    - const isTextMode = button.mode === 'text'

    - let buttonClasses = ''

    - buttonClasses += button.disabled ? ' frozen' : ''
    - buttonClasses += ` button-style_${button.mode}`

    .mean-oval-button( class=buttonClasses style=buttonWidth )
      button.mean-oval-button__elem(
        id=buttonId
        disabled=button.disabled
        type=buttonType
      ) #{buttonText}

      case button.mode
        when 'contained'
          label.mean-oval-button__background( for=buttonId )
          if button.iconname 
            .mean-oval-button__icon
              +materialIcon( button.iconname, buttonId )
        when 'outlined'
          label.mean-oval-button__background( for=buttonId )
          label.mean-oval-button__thumb( for=buttonId )
