include ../expandable-items/dropdown/dropdown.pug
include ../title-bar/title-bar.pug
include ../material-icon-cell/material-icon-cell.pug

mixin inputs( items=[] )
  each item in items
    - const widthByPercent = item.widthbypercent ? item.widthbypercent : '100'
    - const readonlyState = item.dropdown ? true : false
    - const expanderClass = item.dropdown ? 'expander' : ''
    - const widthClass = `elem__width_${widthByPercent}`

    .input.expander__parent( class=widthClass )
      if item.title
        .input__title
          +titleBar( item.title, item.state )
      .input__element
        input.input__frame( class=expanderClass readonly=readonlyState type=item.type placeholder=item.placeholder disabled=item.disabled ) 

        if item.dropdown
          .input__icon_dropdown
            +materialIcon('expand_more')
          +dropdown( item.dropdown )

        if item.subscription
          .input__icon_subscription
            +materialIcon('arrow_forward')
