include /components/title-bar/title-bar.pug

include __subscription/input__subscription.pug
include __date-picker/input__date-picker.pug
include __dropdown/input__dropdown.pug

mixin input( item )
  -
    const definePlaceholder = function definePlaceholdersByValue( archetype, dropdownType, placeholder ) {
      switch ( archetype ) {
        case 'date-picker': {
          return 'ДД.ММ.ГГГГ';
        }
        case 'subscription': {
          return 'Email';
        }
        case 'dropdown': {
          return dropdownType === 'guests' ? 'Cколько гостей' : 'Cколько ванных и спален' ;
        }
        default: {
          return placeholder;
        }
      }
    }
  - const archetype = item.type
  - const dropdown = item.dropdown || {}
  - const checked = dropdown.expanded
  - const type = archetype === 'subscription' ? 'email' : 'text'
  - const readonly = archetype === 'dropdown' || archetype === 'date-picker'
  - const placeholder = definePlaceholder( archetype, dropdown.type, item.placeholder )
  - const currentWidth = `width:${ item.widthpx || '100%' }`

  - const containerMarkClass = readonly ? 'js-expander__container' : ''
  - const containerActiveClass = checked ? ' js-expander_active' : ''
  - const containerClasses = [ containerMarkClass, containerActiveClass ]

  - const datePickerParentClass = archetype === 'date-picker' ? 'js-expander__parent' : ''
  - const datePickerClass = archetype === 'date-picker' ? 'js-expander js-adp-frame' : null
  - const dropdownClass = archetype === 'dropdown' ? 'js-expander dropdown' : null
  - const frameClass = datePickerClass || dropdownClass

  .input( class=datePickerParentClass style=currentWidth )
    if item.title
      .input__title
        +titleBar( item.title, item.state )
    .input__container( class=containerClasses )
      input.input__frame(
        class=       frameClass
        id=          item.id
        type=        type
        placeholder= placeholder
        disabled=    item.disabled
        checked=     checked
        readonly=    readonly
      )
      case archetype
        when 'dropdown'
          +inputDropdown( item )
        when 'date-picker'
          +inputDatePicker( item )
        when 'subscription'
          +inputSubscription( id )
