include /components/material-icon-cell/material-icon-cell.pug

mixin inputDropdown( item )
  - const dropdown = item.dropdown || {}
  - const expanderActiveClass = dropdown.expanded ? 'expander_active' : ''
  - const iconFlippedClass = dropdown.expanded ? 'icon_flipped' : ''

  input.input__frame.dropdown.expander( id=item.id placeholder=item.placeholder checked=dropdown.expanded readonly )
  .input__icon_expand( class=iconFlippedClass )
    +materialIcon('expand_more', item.id )
  .input__dropdown.expander__aim( class=expanderActiveClass )
    each option in item.dropdown.options
      .input__dropdown_option
        span.input__dropdown_name.custom-font-style_h3 #{option}
        .input__dropdown_button-inc 
        span.input__dropdown_counter 
        .input__dropdown_button-dec
