include /components/material-icon-cell/material-icon-cell.pug
include /components/button/__mean-oval/button__mean-oval.pug

mixin inputDropdown( item={} )
  - const guestsOptionNames = [ 'взрослые', 'дети', 'младенцы' ]
  - const facilitiesOptionNames = [ 'спальни', 'кровати', 'ванные комнаты' ]

  - const dropdown = item.dropdown || {}
  - const values = dropdown.values || [ 0, 0, 0 ]
  - const options = dropdown.type === 'guests' ? guestsOptionNames : facilitiesOptionNames

  - const iconFlippedClass = dropdown.expanded ? 'icon_flipped' : ''
  - const expanderActiveClass = dropdown.expanded ? 'expander_active' : ''

  label.input__icon_expand( class=iconFlippedClass for=item.id )
    +materialIcon('expand_more', item.id )
  .input__dropdown.expander__aim( class=expanderActiveClass data-options-type=dropdown.type )
    each option, index in options
      .input__option.custom-font-style_h3
        span.input__option_name #{option}
        .input__option_buttons
          .input__option_button-dec -
          .input__option_counter #{values[index]}
          .input__option_button-inc +
    if ( dropdown.controls )
      .input__state-controllers
        +meanOvalButtons({
          groupname: item.id,
          buttons: [
            { type: "text", text: "очистить" },
            { type: "text", text: "применить"}
          ]
        })
