mixin checkboxButtons( item )
  - let buttonsCount = 0

  .checkbox-button__container
    each checkbox in item.checkboxes
      - const buttonChecked = checkbox.pressed ? true : false
      - const buttonId = item.groupname + '_' + ++buttonsCount

      .checkbox-button
        input.checkbox-button__elem( type='checkbox' id=buttonId checked=buttonChecked )
        if item.richmode
          .checkbox-button__rich-label
            label.checkbox-button__rich-label_title.custom-font-style_body( for=buttonId ) #{checkbox.title}
            label.checkbox-button__rich-label_info.custom-font-style_micro-note( for=buttonId ) #{checkbox.info}
        else
          label.checkbox-button__common-label.custom-font-style_body-plain( for=buttonId ) #{checkbox.label}
