include like/like.pug
include toggle/toggle.pug

mixin microButtons( items=[] )
  each item in items
    - const buttonTypeClass = item.type + '-mode';
    - const pressedButtonClass = item.pressed ? 'micro-button_pressed' : ''

    case item.type
      when 'like'
        .micro-button( class=`${buttonTypeClass} ${pressedButtonClass}` )
          +likeMode(item)
      when 'toggle'
        .micro-button( class=`${buttonTypeClass} ${pressedButtonClass}` )
          +toggleMode(item)
        span.toggle-mode__text #{item.text}
