include /components/button/__star-rate/button__star-rate.pug
include /components/material-icon-cell/material-icon-cell.pug

mixin cardRoomSample( item )
  - const itemLeftID = item.room + '_left'
  - const itemRightID = item.room + '_right'
  - const picturesCount = item.count.pictures || 1

  - let index = 0
  - let suffixes = []

  while index < 4
    - index += 1
    - suffixes[index] = picturesCount < index ? 'no-image' : `${item.room}-${index}`
    
  - suffixes[0] = suffixes[4]
  - suffixes[5] = suffixes[1]

  .card-room-sample.card-style_alternative
    .card-room-sample__container_top
      .card-room-sample__image
        each suffix in suffixes
          img( src=require(`/src/assets/images/raster/room/__thumbnail/room__thumbnail_${ suffix }.jpg`) )
      .card-room-sample__listing-indicator
        +materialIcon("circle")
        +materialIcon("panorama_fish_eye")
        +materialIcon("panorama_fish_eye")
        +materialIcon("panorama_fish_eye")
      .card-room-sample__arrows-container
        .card-room-sample__arrow-scroller_left.scroller( id=itemLeftID )
          +materialIcon("chevron_left", itemLeftID)
        .card-room-sample__arrow-scroller_right.scroller( id=itemRightID )
          +materialIcon("chevron_left", itemRightID)
    .card-room-sample__container_bottom
      .card-room-sample__title-container 
        .card-room-booking__title
          span.card-room-booking__title_prefix.custom-font-style_body-plain № 
          span.custom-font-style_h2 #{ item.room }
          if ( item.luxe )
            span.card-room-booking__title_luxe-mark ЛЮКС
        .card-room-booking__price.custom-font-style_body-plain
          span.card-room-booking__price_value #{ item.price.toLocaleString("ru-RU") }
          span.card-room-booking__price_symbol ₽ 
          span.card-room-booking__price_addition в сутки
      .card-room-sample__rate-n-reviews
        .card-room-sample__rate
          +starRateButton( item.count.rate )
        .card-room-sample__reviews
          span.card-room-booking__price_value #{ item.count.reviews }
          span.card-room-booking__price_addition  Отзывов
