include /components/button/__star-rate/button__star-rate.pug
include /components/material-icon-cell/material-icon-cell.pug

mixin cardRoomSample( item )
  - const itemLeftID = item.room + '_left'
  - const itemRightID = item.room + '_right'
  - const picturesCount = item.count.pictures || 1

  - let index = 0
  - let suffixes = []

  while index < 4
    - suffixes[++index] = picturesCount < index ? 'no-image' : item.room + '-' + index
    - suffixes[0] = suffixes[4]
    - suffixes[5] = suffixes[1]

  .room-sample.card-style_room-sample
    .room-sample__container_top
      .room-sample__image
        each suffix in suffixes
          img( src=require(`/src/assets/images/raster/room/__thumbnail/room__thumbnail_${ suffix }.png`) )

      .room-sample__listing-indicator
        +materialIcon("circle")
        +materialIcon("panorama_fish_eye")
        +materialIcon("panorama_fish_eye")
        +materialIcon("panorama_fish_eye")

      .room-sample__arrow-scroller_left.scroller( id=itemLeftID )
        +materialIcon("chevron_left", itemLeftID)

      .room-sample__arrow-scroller_right.scroller( id=itemRightID )
        +materialIcon("chevron_left", itemRightID)

    .room-sample__container_bottom
      .room-sample__title-container 
        .room-booking__title
          span.room-booking__title_prefix.custom-font-style_body-plain № 
          span.custom-font-style_h2 #{ item.room }
          if ( item.luxe )
            span.room-booking__title_luxe-mark ЛЮКС
        .room-booking__price.custom-font-style_body-plain
          span.room-booking__price_value #{ item.price.toLocaleString("ru-RU") }
          span.room-booking__price_symbol ₽ 
          span.room-booking__price_addition в сутки

      .room-sample__rate-n-reviews
        .room-sample__rate
          +starRateButton( item.count.rate )
        .room-sample__reviews
          span.room-booking__price_value #{ item.count.reviews }
          span.room-booking__price_addition  Отзывов
