mixin votesChart( item )
  .votes-chart
    .votes-chart__diagram
      svg.votes-chart__diagram-element( width="120" height="120" viewBox="0 0 120 120" preserveAspectRatio="none" )
        defs
          each arc in item.arcs
            linearGradient( id=`${arc.gradient}-gradient` x1="1" y1="0" x2="0" y2="0" )
              stop( class=`gradient__${arc.gradient}_start` offset="0%" )
              stop( class=`gradient__${arc.gradient}_end`   offset="100%" )
        each arc in items
          circle.votes-chart__diagram-element_unit( id=`votes-chart-${arc.gradient}` cx="50%" cy="50%" data-votes=arc.votes )
      .votes-chart__diagram-text 
        span.votes-chart__diagram-text_votes.custom-font-style_h1
        span.votes-chart__diagram-text_word.custom-font-style_h3
    .votes-chart__legend
      - const sortedItems = sortArray( items )
      each item in sortedItems
        .votes-chart__legend-item( data-link=`votes-chart-${item.gradient}` )
          .votes-chart__legend-item_marker( class=`marker_${item.gradient}` )
          .votes-chart__legend-item_text.custom-font-style_body #{item.legend}
-
  function sortArray( arr ) {
    arr.reverse().push( arr.shift() );
    return arr;
 }
