mixin votesChart( item )

  - const strokeWidth = 4
  - const figureOuterRadius = 60
  - const figureInnerRadius = figureOuterRadius - strokeWidth

  .votes-chart
    .votes-chart__diagram
      svg.chart( width="120" height="120" viewBox="0 0 120 120" preserveAspectRatio="none" )
        defs
          each gradient in item.gradients
            linearGradient( id=`${ gradient.name }-gradient` x1="0" x2="0" y1="0" y2="1" )
              stop( class=`gradient__${ gradient.name }_start` offset="0%" )
              stop( class=`gradient__${ gradient.name }_end`   offset="100%" )

        each gradient in item.gradients
          circle.unit(
            r=figureInnerRadius
            cx="50%"
            cy="50%"
            stroke=`url(#${ gradient.name }-gradient)`
            stroke-width=strokeWidth
            stroke-dasharray=
            stroke-dashoffset=
          )
    .votes-chart__legend
