mixin votesChart( item={} )
  .votes-chart
    .votes-chart__diagram
      svg.votes-chart__diagram-element( width="120" height="120" viewBox="0 0 120 120" preserveAspectRatio="none" )
        defs
          each unit in item.units
            linearGradient( id=`${unit.gradient}-gradient` x1="1" y1="0" x2="0" y2="0" )
              stop( class=`gradient__${unit.gradient}_start` offset="0%" )
              stop( class=`gradient__${unit.gradient}_end`   offset="100%" )
        each unit in item.units
          circle.votes-chart__diagram-element_unit(
            id=`${item.id}-${unit.gradient}`
            cx="50%"
            cy="50%"
            data-votes=unit.votes
            stroke=`url(#${unit.gradient}-gradient)`
          )
      .votes-chart__diagram-text 
        span.votes-chart__diagram-text_votes.custom-font-style_h1
        span.votes-chart__diagram-text_word.custom-font-style_h3
    .votes-chart__legend
      - const sortedUnits = sortArray( item.units )
      each unit in sortedUnits
        .votes-chart__legend-item( data-link=`${item.id}-${unit.gradient}` )
          .votes-chart__legend-item_marker( class=`marker_${unit.gradient}` )
          .votes-chart__legend-item_text.custom-font-style_body #{unit.legend}
-
  function sortArray( arr ) {
    arr.reverse().push( arr.shift() );
    return arr;
  }
