mixin meanOvalButtons( items=[] )
  each item in items
    - const buttonText = item.text ? item.text : 'click me'
    - const widthKey = item.widthkey ? item.widthkey : '30'
    - const widthClass = item.type === 'text' ? '' : `elem__width_${widthKey}`

    .mean-oval-button( class=widthClass )
      case item.type 
        when 'contained'
          button.mean-oval-button__elem.button-style_contained #{buttonText}
          label.mean-oval-button__background
        when 'outlined'
          button.mean-oval-button__elem.button-style_outlined #{buttonText}
          label.mean-oval-button__background
          label.mean-oval-button__thumb
        when 'text'
          button.mean-oval-button__elem.button-style_text #{buttonText}
