mixin meanOvalButtons( items=[] )
  each item in items
    - const buttonText = item.text ? item.text : 'click me'
    - const widthKey = item.widthkey ? item.widthkey : '30'
    - const widthClass = item.type === 'text' ? '' : `elem__width_${widthKey}`
    - const frozenClass = item.onhover ? 'frozen' : ''

    .mean-oval-button( class=[widthClass, frozenClass] )
      case item.type 
        when 'contained'
          button.mean-oval-button__elem.button-style_contained( id=item.id disabled=item.onhover ) #{buttonText}
          label.mean-oval-button__background( for=item.id )
          if item.iconname 
            label.mean-oval-button__icon.material-icons-outlined( for=item.id ) #{item.iconname}
        when 'outlined'
          button.mean-oval-button__elem.button-style_outlined( id=item.id disabled=item.onhover ) #{buttonText}
          label.mean-oval-button__background( for=item.id )
          label.mean-oval-button__thumb( for=item.id )
        when 'text'
          button.mean-oval-button__elem.button-style_text( id=item.id disabled=item.onhover ) #{buttonText}
